.container-products {
    width: 65%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.products-container {
    display: flex;
    justify-content: center;
}

.card-product {
    color: rgb(192, 192, 192);
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 40vh;
    margin: 5px;
}


.more-product {
    text-align: center;
    margin: 10px;
}

.image-product img {
    user-select: none;
    width: 100%;
    aspect-ratio: 3/3;
    object-fit: contain;
}

.heart-icon {
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: rgb(192, 184, 184);
    font-size: 35px;
    position: absolute;
    transition: 0.5s;
}

/* .image-product svg:hover {
    color: red;
} */

.favorite {
    color: red;
}

.image-product {
    position: relative;
    display: flex;
    align-items: center;
    background-color: rgb(246, 244, 244);
    height: 25vh;
    width: 12vw;
}

.more-product span {
    font-size: 12px;
}

.price-product {
    color: rgb(246, 68, 68);
    text-decoration: line-through;
    margin-right: 10px;
}

.btn-add-cart {
    cursor: pointer;
    color: black;
    background-color: rgb(243, 209, 146);
    border: none;
    font-size: 10px;
    height: 3vh;
    width: 10vw;
    margin-bottom: 10px; 
}

/* .aii {
    color: red;
} */

@media screen and (max-width: 380px) {
    .container-products {
        width: 90%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .products-container {
        display: flex;
        justify-content: center;
    }

    .card-product {
        height: 35vh;
        width: 40vw;
    }

    .image-product {
        height: 20vh;
        width: 40vw;
    }

    .more-product span {
        font-size: 10px;
    }

    .btn-add-cart {
        font-size: 9px;
        height: 3vh;
        width: 30vw;
    }
}

@media screen and (min-width: 380px) and (max-width: 460px) {
    .container-products {
        width: 95%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .products-container {
        display: flex;
        justify-content: center;
    }

    .card-product {
        height: 35vh;
        width: 45vw;
    }

    .image-product {
        height: 20vh;
        width: 45vw;
    }

    .more-product span {
        font-size: 10px;
    }

    .btn-add-cart {
        font-size: 9px;
        height: 3vh;
        width: 30vw;
    }
}