.categories-container {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-card svg {
    font-size: 70px;
    color: #a1a1a1;
}

.category-card span {
    color: #a1a1a1;
}

.category-card {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 380px) {
    .category-card svg {
        font-size: 45px;
        color: #a1a1a1;
    }

    .categories-container {
        height: 25vh;
       overflow-x: scroll;
       justify-content: flex-start;
    }
}

@media screen and (min-width: 380px) and (max-width: 460px) {
    .category-card svg {
        font-size: 55px;
        color: #a1a1a1;
    }

    .categories-container {
       height: 25vh;
       overflow-x: scroll;
       justify-content: flex-start;
    }
}