.seller-container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.offer-title {
    font-weight: 200;
}

.container-seller-offer {
    width: 100%;
    justify-content: center;
    display: flex;
}

.card-seller {
    color: rgb(192, 192, 192);
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 40vh;
    margin: 5px;
}


.info-product {
    text-align: center;
    margin: 10px;
}

.image-seller img {
    width: 100%;
    aspect-ratio: 3/3;
    object-fit: contain;
}

.image-seller {
    display: flex;
    align-items: center;
    background-color: rgb(246, 244, 244);
    height: 25vh;
    width: 12vw;
}

.more-product span {
    font-size: 12px;
}

.price-seller {
    color: rgb(246, 68, 68);
    text-decoration: line-through;
    margin-right: 10px;
}

.btn-add-cart {
    cursor: pointer;
    color: black;
    background-color: rgb(243, 209, 146);
    border: none;
    font-size: 10px;
    height: 3vh;
    width: 10vw;
    margin-bottom: 10px; 
}

@media screen and (max-width: 380px) {
    .container-seller-offer {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }

    .container-seller-offer {
        width: 100%;
        justify-content: flex-start;
        display: flex;
    }

    .card-seller {
        height: 35vh;
        scroll-snap-align: start;
    }

    .image-seller {
        height: 20vh;
        width: 35vw;
    }

    .more-product span {
        font-size: 10px;
    }

    .btn-add-cart {
        font-size: 9px;
        height: 3vh;
        width: 30vw;
    }
}

@media screen and (min-width: 380px) and (max-width: 460px) {
    .seller-container {
        height: 35vh;
    }

    .container-seller-offer {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }

    .container-seller-offer {
        width: 100%;
        justify-content: flex-start;
        display: flex;
    }

    .card-seller {
        height: 27vh;
        scroll-snap-align: start;
    }

    .image-seller {
        height: 15vh;
        width: 35vw;
    }

    .more-product span {
        font-size: 10px;
    }

    .btn-add-cart {
        font-size: 9px;
        height: 3vh;
        width: 30vw;
    }
}