.favorite-container {
    position: fixed;
    right: -100%;
    transition: 0.3s;
    z-index: 1;
}

.favorite-container.activeFavo {
    top: 80px;
    right: 0;
}

.finish-favorite {
    height: 10vh;
    width: 25vw;
    padding: 20px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    box-shadow: -21px 7px 23px 13px rgba(0,0,0,0.1);
    border-radius: 0 0 5px;
}

.itens-favorite {
    background-color: white;
    box-shadow: -35px 0px 23px -5px rgba(0,0,0,0.1); 
    overflow: scroll;
    overflow-x: hidden;
    height: 50vh;
    width: 25vw;
}

.card-cart {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-cart img {
    border-radius: 5px;
    width: 30%;
}

.desc-content-cart {
    width: 60%;
}

.desc-content-cart h5 {
    font-size: 12px;
    font-weight: normal;
}

.add-cart-fav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    margin-right: 5px;
    border-radius: 5px;
    width: 2vw;
    height: 4vh;
}

.add-cart-fav svg {
    color: white;
    font-size: 20px;
    margin: 0 auto;
}

.remove-fav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 5px;
    width: 2vw;
    height: 4vh;
}

.remove-fav svg {
    color: white;
    font-size: 20px;
    margin: 0 auto;
}

.btns-favorite {
    display: flex;
}

.price-cart {
    margin: 10px 0;
}

.price-cart h6 {
    text-decoration: line-through;
    color: red;
}

.favorites-addcart {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 5px;
    height: 10vh;
    width: 100%;
    font-weight: bolder;
    cursor: pointer;
}

.favorites-addcart svg {
    color: white;
    font-size: 20px;
}

@media screen and (max-width: 380px) {
    .favorite-container.activeFavo {
        top: 60px;
        right: 0;
    }
    
    .desc-content-cart h5 {
        font-size: 9px;
    }

    .finish-favorite {
        height: 10vh;
        width: 80vw;
    }
    
    .itens-favorite {
        height: 40vh;
        width: 80vw;
    }

    .finish-btn {
        width: 70vw;
    }

    .favorites-addcart span {
       font-size: 8px;
    }

    .add-cart-fav {
        width: 7vw;
        height: 4vh;
    }
    
    .add-cart-fav svg {
        font-size: 15px;
    }

    .remove-fav {
        width: 7vw;
        height: 4vh;
    }
    
    .remove-fav svg {
        font-size: 15px;
    }
}

@media screen and (min-width: 380px) and (max-width: 460px) {
    .cart-container.activeCart {
        top: 80px;
        right: 0;
    }

    .desc-content-cart h5 {
        font-size: 9px;
    }

    .finish-favorite {
        height: 10vh;
        width: 85vw;
    }
    
    .itens-favorite {
        height: 40vh;
        width: 85vw;
    }

    .favorites-addcart span {
       font-size: 13px;
    }

    .add-cart-fav {
        width: 7vw;
        height: 4vh;
    }
    
    .add-cart-fav svg {
        font-size: 20px;
    }

    .remove-fav {
        width: 7vw;
        height: 4vh;
    }
    
    .remove-fav svg {
        font-size: 20px;
    }
}